---
import type { CollectionEntry } from "astro:content";
import Layout from "@layouts/Layout.astro";
import Main from "@layouts/Main.astro";
import Header from "@components/Header.astro";
import Footer from "@components/Footer.astro";
import Pagination from "@components/Pagination.astro";
import MediaCard from "@components/MediaCard";
import { SITE } from "@config";

export interface Props {
  currentPage: number;
  totalPages: number;
  paginatedPosts: CollectionEntry<"mediaposts">[];
}

const { currentPage, totalPages, paginatedPosts } = Astro.props;
---

<Layout title={`Media Posts | ${SITE.title}`}>
  <Header activeNav="media-posts" />
  <Main pageTitle="Media Posts" pageDesc="All the articles I've posted.">
    <ul>
      {
        paginatedPosts.map(({ data, slug }) => {
          console.log(data, slug);
          return (
            <MediaCard
              href={`/media-posts/${slug}`}
              frontmatter={{ ...data }}
              dateFormat={{ time: false }}
            />
          );
        })
      }
    </ul>
  </Main>

  <Pagination
    {currentPage}
    {totalPages}
    prevUrl={`/posts${currentPage - 1 !== 1 ? "/" + (currentPage - 1) : ""}`}
    nextUrl={`/posts/${currentPage + 1}`}
  />

  <Footer noMarginTop={totalPages > 1} />
</Layout>
